name: Nightly Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write  # This is required to create/edit GitHub Releases

concurrency:
  group: nightly
  cancel-in-progress: true

jobs:
  check_recent_commit:
    runs-on: ubuntu-latest
    name: Check Recent Commit
    outputs:
      should_run: ${{ steps.should_run.outputs.should_run }}
    steps:
      - uses: actions/checkout@v3

      - id: should_run
        name: Check if latest commit date is within the previous 24 hours
        run: |
          if [ -z "$(git rev-list --since="24 hours ago" --all)" ]; then
            echo "should_run=false" >> $GITHUB_OUTPUT
          else
            echo "should_run=true" >> $GITHUB_OUTPUT
          fi

  build_nightly:
    runs-on: windows-latest
    name: Build Nightly
    needs: check_recent_commit
    if: needs.check_recent_commit.outputs.should_run == 'true'
    outputs:
      full_sha: ${{ steps.var.outputs.full_sha }}
      short_sha: ${{ steps.var.outputs.short_sha }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1
        with:
          vs-version: 'latest'

      - name: Build solution
        run: msbuild FortniteDma.sln /p:Configuration=Release /p:Platform=x64 /m

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary
          path: bin/*.exe

      - name: Generate Build Info
        id: var
        run: |
          echo "full_sha=$(git rev-parse HEAD)" >> $env:GITHUB_OUTPUT
          echo "short_sha=$(git rev-parse --short HEAD)" >> $env:GITHUB_OUTPUT

  recreate_release:
    runs-on: ubuntu-latest
    name: Recreate Release
    needs: build_nightly
    if: needs.check_recent_commit.outputs.should_run == 'true'
    steps:
      - uses: actions/checkout@v3

      - name: Delete Existing Release
        id: delete_release
        uses: actions/github-script@v6
        with:
          script: |
            const owner = context.repo.owner;
            const repo = context.repo.repo;
            const tag = "nightly";

            const releases = await github.rest.repos.listReleases({ owner, repo });
            const release = releases.data.find(release => release.tag_name === tag);

            if (release) {
              await github.rest.repos.deleteRelease({
                owner,
                repo,
                release_id: release.id,
              });
              console.log(`Deleted release with ID ${release.id}`);
            }

            try {
              await github.rest.git.deleteRef({ owner, repo, ref: `tags/${tag}` });
              console.log(`Deleted tag ${tag}`);
            } catch (error) {
              console.error(`Error deleting tag: ${error.message}`);
            }

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: binary

      - name: Echo build sha256
        id: build_sha
        run: |
          sha256sum *.exe > sha256.checksum
          echo "build_sha=$(cat sha256.checksum)" >> $GITHUB_OUTPUT
          cat sha256.checksum

      - name: Nightly Release
        uses: softprops/action-gh-release@v1
        with:
          name: Nightly [${{ needs.build_nightly.outputs.short_sha }}]
          tag_name: nightly
          body: |
            **This release has been built by GitHub Actions**
            [Link to build](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

            Build SHA256:
            ```
            ${{ steps.build_sha.outputs.build_sha }}
            ```

            Full Commit Hash:
            ```
            ${{ needs.build_nightly.outputs.full_sha }}
            ```
          files: |
            *.exe
  publish_to_public_release:
    name: Publish to Public Repo
    runs-on: ubuntu-latest
    needs: build_nightly
    if: needs.check_recent_commit.outputs.should_run == 'true'
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: binary

      - name: Publish Release to Public Repo
        uses: softprops/action-gh-release@v1
        with:
          name: Nightly Build [${{ needs.build_nightly.outputs.short_sha }}]
          tag_name: nightly
          body: |
            This binary was built from a private repository.

            Full commit hash:
            ```
            ${{ needs.build_nightly.outputs.full_sha }}
            ```

            Download this `.exe` to run the latest nightly build.
          repository: kirowaterxyz/kiro-solutions-cheat  # <- Change to your public repo name
          token: ${{ secrets.PUBLIC_REPO_TOKEN }}
          files: |
            *.exe
